.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

### Diff template
*.patch
*.diff

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

src/main.py
